<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contac Me</h5>
        <p class="grey-text text-lighten-4">alan21120000@gmail.com</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">More me</h5>
        <ul>
          <li><a class="white-text" href="https://tw.linkedin.com/pub/alan-yu/b7/979/531">My Linkedin</a></li>
          <li><a class="white-text" href="https://github.com/alan2112000">My Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="footer-copyright">
  <div class="container">
    Made by <a class="brown-text text-lighten-3" href="#">Alan Yu</a>
  </div>
</div>
