// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red_color: red;

.nav-wrapper {
  a {
    color: teal;
  }
}

.parallax-container {
  div .section .no-pad-bot {
  margin-top: 100px;
  }
}

.toc-wrapper {
  position: relative;
  margin-top: 42px;
}

.heavy {
  font-weight: 800;
}

.center-title { margin-top: 150px; }


.on-the-top {
 z-index: 2;
}

